/*name*/

#name h2{
    /*글씨 스타일*/
    position:relative;
    margin-top: 200px;
    margin-left: 160px;
    color: var(--Solid-Heading, #42446E);
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
    letter-spacing: -1px;
    display: inline-block;
}

#name h2 span{
    background: linear-gradient(to left bottom, #861657, #ffa69e, orangered);
    color: transparent;
    -webkit-background-clip: text;
}

#name{
    display: flex;
    align-items: center; /*사진 글씨 중앙 위치*/
    gap: 10rem;/*글씨와 사진 gap*/
}

#name img{
    margin-top: 40px;
    margin-left: 120px;
    /*원 배경 그라데이션*/
    border: 8px solid transparent; /*겉 테두리*/
    border-radius: 70%; /*원, border-image 같이 적용 안됨*/
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right,  #861657, #ffa69e, orangered);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/*stack, projects 글씨*/

.title1{
    color: #42446E;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
}

.title2{
    color: #666;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

/*stack 아이콘*/

.stack-icons{
    display:flex;
    margin-left: 160px;
}

.stack-icons div{
    position: relative; /*아이콘 하나씩 padding*/
    padding-top: 30px;
    margin-right: 90px;
}

/*Projects*/
/*
#background{
    position: relative;
    margin-left: 80px;
}

#image{
    position: absolute;
    top:174%;
    margin-left: 177px;
}
*/

.grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
	grid-template-rows: 600px 600px;
    justify-content: center;
    gap: 30px;
}

.project-content{
    -webkit-line-clamp: 3;
    overflow: hidden;
}





