.logo{
    display: inline-block;
    margin-left: 160px;
    margin-right: 306px;
    padding-top: 20px;

}

.nav-items div {
    display: inline-block;
    margin-right: 36px;
}

.nav-items div a{
    
    color: #666;
    text-align: center;
    text-decoration-line: none;
    /* Buttons / Big */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
}

.nav-items{
    display: inline-block;

}

.nav-icons {
    display: inline-block;
    /* width: 162px; */
    margin-left: 100px;
    margin-right: 160px;
    padding-top: 20px;
    /*background-color: red;*/
}
.nav-icons div{
    display: inline-block;
    margin-right: 20px;
}

nav {
    position: relative;
}

#name p{
    position:relative;
    margin-top: 200px;
    margin-left: 160px;
    color: var(--Solid-Heading, #42446E);
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 120.69% */
    letter-spacing: -1px;
    display: inline-block;
}

#name p span{
    background: linear-gradient(to right top, #861657, #ffa69e, orange);
    color: transparent;
    -webkit-background-clip: text;
}

#name img{
    margin-left: 240px;
    margin-right: 160px;
    border: 6px solid;
    border-radius: 100%;
    border: 10px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right top, #861657, #ffa69e, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.for1{
    color: #42446E;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
}

.for2{
    color: #666;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
}

.project-back{
    position: relative;
    z-index: 1;
    background-image: url("project_example1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 573px;
    height: 767px;
    padding-bottom: 100;
}

.project-pic{
    position: absolute;
    left: 99px;
    top:10%;
    /* z-index: 2; */

}

#tech img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project-section {
    padding-bottom: 300px;
  }
  .project-items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .project-item {
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  .project-thumbnail {
    width: 100%;
    height: 256px;
    /* 위쪽 둥글게 둥글게 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* 배경 이미지 가운데 정렬, 가득차게 */
    background-position: center;
    background-size: cover;
  }

  #p1{
    background-image: url("./project-imgg.PNG");
  }

  #p2{
    background-image: url("./project-imgg2.jpg");
  }

  #p3{
    background-image: url("./project-imgg3.png");
  }

  .project-content {
    padding: 30px;
    /* 세로 간격(gap)을 일정하게 주기 위해 flex 적용 */
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .project-content h4 {
    color: #42446e;
    font-size: 24px;
    font-weight: 700;
  }
  .project-link {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .project-link a {
    display: flex;
    gap: 12px;
    align-items: center;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
  }
  
  .project-desc {
    color: #666;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
  }
  
  .project-tech-stack {
    color: #42446e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }

